<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeLogged.css">
    <script src="/js/homeLogged.js"></script>
    <title>Forum - home</title>
</head>

<style>


</style>

<body>
    <header>
     

      <nav>
        <ul>
          <li><a href="http://localhost:8080/createroom">Create a room</a></li>
          <li><a href="http://localhost:8080/joinroom">Join a room</a></li>
          <li><a href="http://localhost:8080/room">room</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
        <h1 class="title">FOROOM</h1>
        <p class="description">Welcome to FOROOM, the perfect place for discussions and conversations. Create your room, invite your friends to join you, and start debating, discussing, or exchanging various ideas!</p>
    </div>
      

      
  </body>
  

</html>